.page-header {
    text-align: center;
    clear: both;
}

.search-container {
    float: right;
    padding-bottom: 10px;
    margin-top: -50px;
}

.search-results {
    position: absolute;
    background: gray;
    padding: 0 10px 10px;
    width: 300px;
    margin-left: -148px;
    margin-top: 1px;
}

.volume-img-box {
    float: left;
    margin: 10px;
}
.volume-description {
    margin: 10px;
}

.volume-container {
    margin: 10px;
}

.loader {
    clear: both;
    text-align: center;
}

.navigation {
    display: inline-block;
}

.navigation > div{
    float: left;
}

.navigation-link {
    padding: 10px 10px 0 0;
}

.header-profile-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 18px;
    padding-top: 2px;
    height: 0;
}
